.center-form {
  max-width: 500px;
  margin: auto;
  padding: 9.6rem 0;
}

.center-form Form {
  margin: auto;
  width: 100%;
  padding: 2rem;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.center-form Form .form-control {
  margin-bottom: 20px;
  padding: 10px;
}
